label {
    font-size: 14px;
    color: white;
}

button.tab {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

button.selected {
    background-color: grey;
}

.widget-panel {
    border: 1px solid #404040;
}

.widget-panel .panel-title {
    color: #ff8c00
}

.title {
    font-size: 36;
}


/* Drag to change input */
.drag-input {
    border: 1px solid;
    border-radius: 4px;
    background-color: #343434;
    transition: background-color 100ms;
    child-left: 5px;
    child-right: 5px;
    child-top: 3px;
    child-bottom: 3px;
}

.drag-input:active,
.drag-input:hover {
    background-color: #404040;
    transition: background-color 100ms;
}

.drag-input:active:disabled,
.checkbox:hover:disabled {
    border: 1px solid;
    border-radius: 4px;
    background-color: #343434;
    transition: background-color 100ms;
}

.root-note-select .drag-input {
    width: 42px;
}